* { padding: 0; margin: 0;}
html {
    background: url(fabric.png);
}
h1,h2,h3 { font-weight: normal; }
a, a:link, a:visited, a:hover {
    color: #5a5a5a;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
body {
    color: #5a5a5a;
    font-family: Helvetica;
    margin: 25px auto;
    font-size: 18px;
    width: 780px;
}

p {
    margin: 10px 0;
}

.section {
    margin-top: 25px;
}