/* Default and Reset Stylings */

* { padding: 0; margin: 0;}
h1,h2,h3 { font-weight: normal; }

a, a:link, a:visited {
    color: #5a5a5a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Body */

body {
    color: #5a5a5a;
}

h1 {
  margin: 0.5em 0 0 0;
}

h2 {
  margin: 0;
  font-size: 130%;
}

h3 {
  margin: 0;
}

h4 {
  font-size: 100%;
  font-weight: bold;
  margin: 0.25em 0;
}

#heading {
  border-bottom: #5a5a5a 1px solid;
  margin-bottom: 0.5em;
}

#vitals h3 {
  margin: 0;
}

#vitals ul, #music ul, #eight36 ul {
  list-style: none;
  margin: 0;
}

.material-icons {
  vertical-align: middle;
}

.crop {
    width: 100%;
    height: 100%;
    object-fit: none;
}

#eight36 {
  margin-top: 1em;
}

#travel #checkins {
    margin-top: 1em;
    margin-bottom: 0em;
}

#vitals li {
    text-align: center;
}

@media (min-width: 550px) {
    #travel #checkins {
        margin-top: 0;
    }
    #vitals li {
        text-align: left;
    }
    .crop {
        object-fit: cover;
        width: 128px;
        height: 128px;
    }
}
