@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic);

* { padding: 0; margin: 0;}
h1,h2,h3 { font-weight: normal; }
a, a:link, a:visited {
    color: #5a5a5a;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
body {
    color: #5a5a5a;
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;;
    margin: 25px auto;
    font-size: 18px;
    width: 780px;
}

p {
    margin: 10px 0;
}

.section {
    margin-top: 25px;
}

.horizontal-list li {
    display: inline-block;
    text-align: top;
}

.song img {
    margin-right: 5px;
    height: 148px;
    width: 148px;
}
#albums .song:last-child img {
    margin-right: 0;
}

#albums {
    margin-top: 10px;
}

#map {
    height: 300px;
}

.cropped {
    overflow: hidden;
    display: inline-block;
}

.landscape-large {
    vertical-align: top;
    height: 281px;
    width: 281px;
}
.landscape-large img {
    margin-left: -109px;
}

.landscape-small {
    height: 140px;
    width: 140px;
}

.landscape-small img {
    margin-top: -70px;
    margin-left: -180px;
}

.portrait-large {
    vertical-align: top;
    height: 281px;
    width: 281px;

}
.portrait-large img {
    margin-top: -235px;
    margin-left: -70px;
}

.portrait-small {
    height: 140px;
    width: 140px;
}

.portrait-small img {
    margin-top: -305px;
    margin-left: -141px;
}

.caption {
    display: inline-block;
}
.grid-box {
    width: 480px;
    display: inline-block;
}
.cropped {
    position: relative;
}
.cropped p {
    display: none;
}
.cropped:hover p {
    display: block;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    opacity: 0.7;
    width: 100%;
    margin-bottom: 0px;
}
.tonic {
    text-align: center;
    margin: 25px 0;
    font-size: 75%;
}