<!DOCTYPE html>
<html>
    <head>
        <title>tomrudick.com</title>
        <link rel="stylesheet" type="text/css" href="assets/layout.css">
    </head>
    <body>
        <div id="header">
            <h1>tom rudick</h1>
            <h2>software engineer at <a href="http://www.spotify.com">spotify</a></h2>
            <h2><a href="http://se.rit.edu">rit se</a>, beekeeper, ex-<a href="http://www.windowsazure.com">microsoft</a></h2>
        </div>

        <div class="section" id="bio">
            <p>Hi! I'm Tom. I currently live in Brooklyn, NY and help build data analytics tools for <a href="http:/www.spotify.com">Spotify</a>. I've been writing software for just over {{programming_age}} years and I still think it is lots of fun.</p>
            <p>I used to live in Seattle where I became an avid bow-tie enthusiast, coffee lover, and acquired a special penchant to strong mixed drinks. Brooklyn is great but I still miss Analog Coffee, Sun Liquor, and Five Point. I'll probably move back some day.</p>
        </div>
    </body>
</html>